.left {
    display: block;
    /*margin-right: auto;*/
    margin-left: auto;
    padding: 8px;
    height: auto;
    width: 75%;
}

.left img {
    float: left;
    margin: 10px 0;
}

.right {
    display: block;
    margin-right: auto;
    /*margin-left: auto;*/
    padding: 8px;
    height: auto;
    width: 75%;
}

.right img {
    float: right;
    margin: 10px 0;
}

.info {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
}

.info p {
    margin: 10px 0;
}

.info .name {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #35b84b;
}

footer {
    height: 100px;
}